div.trigger {
	padding: 0 0 0 50px;
    margin: 0 0 5px 0;
    background: url(/images/toggler_button.png) no-repeat;
	height: 46px;
	line-height: 46px;
	width: 640px;
	font-size: 2em;
	font-weight: normal;
	float: left;
}
div.trigger a {
	color: #fff;
	text-decoration: none;
	display: block;
}
div.trigger a:hover {
	color: #444;
}

div.active {background-position: left bottom;}

.toggle_container {
	margin: 0 0 5px;
	padding: 0;
	overflow: hidden;
	font-size: 1.2em;
	width: 640px;
	clear: both;
	text-align: center;
}